@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #5C00A3;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #111;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color:#5C00A3 ;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #111;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #5C00A3;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.home{
    display: flex;
    background: url(back2a.jpg) no-repeat center;
    height: 100vh; 
    /* width: 1250px;
     height: 600px;
*/
    color: #0f0f0f;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/*Menu Button*/
.menu-btn{
    color: #111;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #5C00A3;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}



/*Home section*/
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    color: #111;
    font-size: 27px;
}
.home .home-content .text-2{
    color: #111;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    color: #111;
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #5C00A3;
    font-weight: 500;
}
.home .home-content .icons{
    margin: 15px 0;
}
.home .home-content .icons i{
    margin-right: 20px;
    color: #111;
    transition: all 0.3s ease;
}
.home .home-content .icons i:hover{
    transform: scale(1.50);
}


/*About section*/
section{
    padding: 100px 0;
}
.about, footer{
    font-family: 'Poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .title::after{
    content: "who We Are";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #5C00A3;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height:400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #5C00A3;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #5C00A3;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #5C00A3;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #5C00A3;
    background: none;
}


/*My Canvas section*/
section{
    padding: 100px 0;
}
.canvas{
    font-family: 'Poppins',sans-serif;
    background: #111;
    color: #fff;
}
.canvas .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.canvas .title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 230px;
    height: 3px;
    background:#fff;
    transform: translateX(-50%);
}

.canvas .title::after{
    content: "what I sketched";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #5C00A3;
    padding: 5px;
    background: #111;
    transform: translateX(-50%);
}

.canvas .canvas-content .card{
    margin: 50px 10px;
}

.canvas .canvas-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
}
.canvas .canvas-content .card img{
    width: 250px;
    height: 300px;
    background: #222;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
}

.canvas .canvas-content .card {
    transition: all 0.3s ease;
}
.canvas .canvas-content .card:hover{
    transform: scale(1.05);
}

.canvas .canvas-content .card .box{
    transition: all 0.3s ease;
}
.canvas .canvas-content .card:hover .box{
    transform: scale(1.05);
}


/*Contact section*/
section{
    padding: 100px 0;
}
.contact{
    font-family: 'Poppins',sans-serif;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #5C00A3;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .left .icons2 i{
    font-size: 25px;
    color: #5C00A3;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.contact .contact-content .left .icons2 i:hover{
    transform: scale(1.50);
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #5C00A3;
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .info .head .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #5C00A3;
    background:#5C00A3;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #5C00A3;
    background: none;
}

/* footer section styling 
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

*/

/*Responsive media query*/
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1104px){
    .about .about-content .left img{
        height:350px;
        width: 350px;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .canvas .canvas-content .card img{
        width: 265px;
    }
}
@media(max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .menu-btn i.active:before{
        content:"\f00d"
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}

@media(max-width: 635px){
    .canvas .canvas-content {
        justify-content: center;
}
}

@media(max-width: 507px){
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
}
@media only screen and (min-width:947px){
    #projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
        height: 100%;
        width: 100%;
	}
	#projects .all-projects .project-img {
        height: 100%;
        width: 100%;
    }
}


/* coding profile */
.cp{
    padding: 1% 5%;
}

.cp:hover{
    transform: scale(1.5);
}


/* footer */

footer {
  margin: 0;
  padding: 3% 10% 1%;
  color: #ccc;
  text-align: center;
  background-color: #222;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0 35%;
  list-style: none;
}

.footer-listItem {
  margin: 4% 0.5%;
  padding: 4%;
  background-color: #333;
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.footer-listItem:hover {
  transform: scale(1.2);
  background-color: #f0f0f0;
  cursor: pointer;
}

.footer-icon {
  width: 50px;
  filter: invert(92%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(94%)
    contrast(83%);
}

.footer-listItem:hover .footer-icon {
  filter: invert(0%) sepia(0%) saturate(7465%) hue-rotate(247deg)
    brightness(104%) contrast(109%);
  /* filter: grayscale(); */
  /* filter: contrast(); */
}

footer p {
  margin-top: 1%;
  font-size: 0.8rem;
}
